/* 全域 */
*, *::before, *::after{
    box-sizing: border-box;
}
*{
    position: relative;
    color: #212529;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
    color: #212529;
    display: inline-block;
    vertical-align: middle;
}
a:hover{
    color: #212529;
}
button{
    background: none;
    border: 0;
}
span{
    vertical-align: middle;
}
ul, ol{
    list-style: none;
}
/* base */
h1{
    margin: 0;
}
h2{
    font-family: "Lato",sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: bold;
}
h5{
    font-family: "Lato",sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 0;
}
li, a, p{
    font-family: "Lato",sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 0;
}
/* Color */
.font-green{
    color: #198754;
}
.font-gray600{
    color:#6C757D;
}
.bg-gray100{
    background: #F8F9FA;
}
/* font */
.font-14{
    font-size: 14px;
}
.font-bold{
    font-weight: bold;
}
/* helper */
.dash-active{
    color: #198754;
}
.dash-active::before{
    content: "";
    background: #198754;
    width: 4px;
    height: 32px;
    position: absolute;
    left: -24px;
}
/* layout */
.mr-2{
    margin-right: 16px;
}
.mr-3{
    margin-right: 24px;
}
.mr-6{
    margin-right: 48px;
}
.ml-2{
    margin-left: 16px;
}
.ml-4{
    margin-left: 32px;
}
.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-4{
    margin-bottom: 32px;
}
.pl-3{
    padding-left: 24px;
}
.pl-4{
    padding-left: 32px;
}
.icon-sm{
    font-size:16px;
}
/* index */
.wrapper{
    width: 1280px;
    height: 800px;
    border: 1px solid gray;
}
.side-bar{
    width: 296px;
    height: 100%;
}
.logo{
    display: inline-block;
    background-image: url(../image/logo-ANSWER.svg);
    background-repeat: no-repeat;
    background-position: 0 center;
    width: 100%;
    height: 94px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.nav{
    height: 706px;
}
.menu{
    margin: 0;
    padding-left: 0;
}
.menu li {
    margin-bottom: 24px;
}
.menu li:hover{
    background: #CED4DA;
}
.menu li a{
    padding: 8px 0;
    margin-left: 24px;
    display: flex;
    align-items: center;
}
.menu li a span{
    margin-right: 16px;
    vertical-align: middle;
}
.photo{
    background-image: url(../image/andychen.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.main{
    width: 100%;
    height: 800px;
    padding: 0 32px;
}
.header{
    width: 100%;
    height: 94px;
}
.header-function-group{
    width: 100%;
}
.txt-btn:hover{
    color: #198754;

}
.id-content tr td:nth-child(1)::before{
    content: "#";
}
.table1{
    text-align-last: left;
}
.table-icon{
    width: 24px;
    text-align: center;
}
.view:hover, .pen:hover{
    color: #198754;
}
.footer .page-link{
    color:#212529;
    width: 32px;
    height: 32px;
    border:1px solid #198754 ;
    text-align: center;
    padding: 4px 0;
}
.footer .pagination .active{
    color: white;
    background: #198754;
}
/* modal */
.modal-content, .modal-header, .modal-body, .modal-footer{
    width: 450px;
}
.id-photo{
    background-image: url(../image/emir.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 141px;
    height: inherit;
}
.id-info{
    width: 277px;
}
.verified{
    display: inline-block;
    padding: 4px 8px;
    border-radius: 2px;
}
.modal-footer{
    border: 0;
}
.btn-dimiss{
    color: #DC3545;
    padding: 8px 32px;
    border: 1px solid #DC3545;
    border-radius: 2px;
}
.btn-main{
    color: white;
    padding: 8px 32px;
    background: #198754;
    border-radius: 2px;
}

